

  <main>
    <div class="container-fluid full">
      <div class="">
        <div class="mx-auto py-5 col-11 col-sm-10 col-lg-8 col-xl-6 text-light">
        <h1>Welcome to <span class="shop-name">Nagano C<span class="red">a</span>ke</span></h1>
          <div class="main-visual-text">
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="row col-12 mx-auto mt-5">
    <div class="sidebar col-4 ">
      <%= render "public/genres/genre", genres: @genres %>
    </div>


    <div class="new-items-aria col-7">
      <h4 class="new-items-title">\New Items/</h4>

      <div class="new-items row row-cols-1 row-cols-lg-4 mx-auto p-2">
      <% @new_items.each do |item| %>
      <div class="item card-list-container col m-0.5" >
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size:"200x150", class: "card-img-top", style: "object-fit: cover;" %>
          <h6 class="card-title text-dark"><%= item.name %></h6>
          <p class="card-text text-dark"><%= item.with_tax_price.to_s(:delimited) %>円</p>
        <% end %>
      </div>
      <% end %>

      <div class="items">
        <%= link_to "もっと見る>>", items_path, class: "text-dark" %>
      </div>
      </div>
    </div>
  </div>

