<div class="container cake-font">
  <h2 class="elegant-header">注文履歴一覧</h2>
  <div class="order-history-container mb-5">
    <table class="table">
      <thead>
        <tr>
          <th>注文日</th>
          <th class="delivery-address">配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
                <%= l order.created_at, format: :short %>
            </td>
            <td class="delivery-address">
              〒<%= order.customer.post_code %><br>
              <%= order.address %><br>
              <%= order.customer.full_name %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %><br>
              <% end %>
            </td>
            <td><%= order.total_amount.to_s(:delimited) %>円</td>
            <td><%= t("enums.order.order_status.#{order.status}") %></td>
            <td>
              <%= link_to "詳細", order_path(order), class: "btn btn-primary btn-sm elegant-btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>