<div class="container my-5">
  <h4>注文履歴詳細</h4>
      <div class="row my-3">
        <div class="col-8">

          <!--注文情報-->
          <h5>注文情報</h5>
          <table class="table table-bordered">

            <tr>
              <th class="table-danger">注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            </tr>

            <tr>
              <th class="table-danger">配送先</th>
              <td>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>

            <tr>
              <th class="table-danger">支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>

            <tr>
              <th class="table-danger">ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
          </table>
        </div>

        <div class="col-4">
          <!--請求情報-->
          <h5>請求情報</h5>
          <table class="table table-bordered">

            <tr>
              <th class="table-danger">商品合計</th>
              <td><%= @total_item_amount.to_s(:delimited) %></td>
            </tr>

            <tr>
              <th class="table-danger">配送料</th>
              <td><%= @order.postage.to_s(:delimited) %></td>
            </tr>

            <tr>
              <th class="table-danger">ご請求額</th>
              <td><%=  @order.total_amount.to_s(:delimited) %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <!--注文内容-->
          <h5>注文内容</h5>
          <table class="table table-bordered">

            <tr>
              <th class="table-danger">商品</th>
              <th class="table-danger">単価（税込）</th>
              <th class="table-danger">個数</th>
              <th class="table-danger">小計</th>
            </tr>

            <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.unit_price %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.subtotal %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
</div>