
<main class="row justify-content-center">
  <div class="sidebar">
    
    <%#= render "genre", genre: @genres %>
    
  </div>
  
  <div class="menu">
    <h4>商品一覧（全<%= @items.all.count %>件）</h4>
    <div class="row row-cols-4 mx-auto">
      <% @items.each do |item| %>
      <div class="item card-list-container col p-2" style="width: 18rem;">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size:"300x200", class: "card-img-top", style: "object-fit: contain;" %>
          <h6 class="card-title"><%= item.name %></h6>
          <p class="card-text"><%= item.with_tax_price.to_s(:delimited) %>円</p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</main>
 
  <%= paginate @items %>

